@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
}

body {
  background-color: #121212;
}

.wrap {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.wrap ul {
  display: flex;
  gap: 50px;
}

.wrap ul li {
  font-size: 4.5vh;
  list-style-type: none;
}

.wrap ul li a {
  text-decoration: none;
  font-family: "Montserrat Alternates", fantasy;
  color: black;
}

.wrap ul li a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 2px #ffcc00;
}

.wrap ul li a:active {
  text-decoration: underline;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: end;
}

.box1 {
  width: 135px;
  height: 40px;
  left: 180px;
  top: 430px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #8c8c8c;
  border: 1px solid black;
  display: flex;
  place-items: center;
  margin-right: 0;
  text-decoration: none;
}

.box1 img {
  right: 295px;
  bottom: 30px;
  width: 30px;
}

.box1 p {
  color: black;
  font-size: 23px;
}
.lokasi .box1:hover {
  background-color: #edede2;
}

/* batas */

.container {
  width: 80%;
  height: auto;
  background-color: #d9d9d9;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 20px 0 20px 0;
  box-shadow: 1px 1px 15px black;
}

.wrapper2 {
  width: 100%;
  border-radius: 25px;
  background-color: rgba(255, 204, 0, 0.7);
  padding: 5px;
  height: 360px;
  box-shadow: 3px 3px 9px black;
  font-size: 3vh;
  text-align: center;
}

.image-box {
  height: 350px;
  width: 350px;
  margin-left: 10px;
  box-shadow: -3px 3px 9px black;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.container .wrapper2 h1 {
  font-family: "Trebuchet MS";
  margin-top: -285px;
  margin-right: 50px;
}

.container .wrapper2 .status {
  margin-top: -100px;
}

.container .wrapper2 h3 {
  font-family: "Trebuchet MS";
  margin-left: -95px;
}

.text-box {
display: block;
justify-content: baseline;
}
.button-wrapper{
  margin-top: 18px;
  display: flex;
  justify-content: end;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}


.batal {
  background: transparent;
  color: black;
  border: 1px solid black;
  transition: all .3s ease;
  
}

.batal:hover{
  transform: scale(1.125);
  color: red;
  border-color: red;
  transition: all .3s ease;  
}

.beli {
  background: black;
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
  margin-left: 10px;
}

.beli:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}
/* batas button */

.Deskripsi h3 {
  font-size: 2rem;
  padding: 2px 5px 5px 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.Deskripsi p {
  margin-left: 20px;
  margin-top: -18px;
  text-align: justify;
  margin-right: 30px;
  font-size: 22px;
}

.Deskripsi span {
  color: #0011ff;
}
