body {
  background-color: #121212;
}

.container {
  width: 75%;
  height: auto;
  background-color: #262228;
  margin-right: 0;
  margin-left: 25%;
  display: block;
  margin-top: 55px;
}

.pilihan {
display: flex;
padding: 5px;
justify-content: center;
padding: 20px 0;
}

.pilihan ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 50px;
}

ul li {
  text-decoration: none;
  color: white;
}

.pilihan ul li:hover {
  text-decoration: underline;
  color: #ffcc00;
}


.card {
  background-color: #ffcc00;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.image-box {
  height: 200px;
  width: 200px;
  margin-left: 10px;
  box-shadow: -3px 3px 9px black;
  border-radius: 15px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.card .text {
  margin-left: 20px;
}

.garis {
  margin: 10px;
  width: 0%;
}

.alamat {
  margin-bottom: 10px;
}

.text-decoration {
  text-decoration: none;
}

.disini {
  text-decoration: underline;
  color: #ffcc00;
}

.tombol {
  position: relative;
  right: 0;
  width: 29%;
}

.tombol button {
  position: absolute;
  width: 140px;
  right: 0;
  bottom: 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: black;
  color: white;
}

.tombol button:hover {
  background-color: green;
}
