* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0px;
  background: #121212;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 670px;
  height: auto;
  background-color: rgb(235, 233, 233);
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 35%;
  margin-bottom: 225px;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 1;
  box-shadow:0px 0px 1px #848484;
  justify-content: center;
  text-align: center;

  
}
.wrapper2 {
  width: 100%;
  height: 150px;
  background-color:#FFCC00;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.container h2 {
  margin-top: 15px;
  font-size: 30px;
}

.wrapper-img {
  width: 100%;
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: 45%;
  text-align: center;
}

.image-box {
  height: 80px;
  width: 80px;
  margin-top: 40px;
  border-radius: 50%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.input1 {
  margin-top: 75px;
}

.input1 input {
  height: 30px;
  width: 300px;
  background: #ffffff;
  border: #6e6767;
  outline:none;
  border-radius: 11px;
  color: #0c0c0c;
  font-size: 1rem;
  padding: 0 20px;
}

.input2 {

  margin-top: 37px;
}
.input2 input {
  height: 30px;
  width: 300px;
  background: #ffffff;
  border: #6e6767;
  outline:none;
  border-radius: 11px;
  color: #0c0c0c;
  font-size: 1rem;
  padding: 0 20px;
}

.input3 {

  margin-top: 37px;
}

.input3 textarea{
  background: #ffffff;
  border: #6e6767;
  outline:none;
  border-radius: 11px;
  color: #0c0c0c;
  font-size: 1rem;
  padding:  5px;
}

.Button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
  padding-bottom: 5px;
  gap: 5%;
  align-items: end;
}

.Button .simpan {
  background-color: #ffcc00;
  width: 100px;
  height: 35px;
  border: 1px solid black;
  color: #0c0c0c;
  border-radius: 15px;
  cursor: pointer;
}

.Button .batal {
  background-color: #ffffff;
  width: 100px;
  height: 35px;
  border: 1px solid black;
  color: #0c0c0c;
  border-radius: 50px;
  cursor: pointer;
}

.Button .simpan:hover {
  background-color: yellow;
}
.Button .batal:hover {
  background-color: red;
}